*.o
*~
*vs_code*
.gdbinit
*DISK*
*.json
sample/*
sample/Makefile
README
yalnix/sample/Makefile
*.o
src/yalnix
src/idle
yalnix/src/idle
yalnix/src/yalnix
yalnix/sample/Makefile
yalnix/src/init
yalnix/src/helloworld
yalnix/src/testexec
yalnix/src/testfork
yalnix/src/testlock
yalnix/src/testmath
yalnix/src/testpipe
yalnix/src/testterminal
yalnix/src/TRACE
yalnix/src/TTYLOG
yalnix/src/TTYLOG.0
yalnix/src/TTYLOG.1
yalnix/src/TTYLOG.2
yalnix/src/TTYLOG.3
yalnix/src/testcvar
yalnix/src/testreclaim
